.commerce-field{
    display: flex;
    justify-content: flex-start;
}
.commerce-fields{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}
.grid_item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.card{
    max-width: 350px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
}